:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Wysokość 100% widoku */
}

mat-card {
  width: 400px; /* Ustal szerokość formularza */
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column; /* Ułożenie elementów jeden pod drugim */
}

mat-form-field {
  margin-bottom: 16px; /* Odstęp między polami */
}
