.product-table {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
}

th.mat-header-cell {
  background-color: #f1f1f1;
  font-weight: bold;
}

mat-header-cell, mat-cell {
  padding: 16px;
}
